<nav class="navbar">

  <span class="logo">S & E</span>

  <i [class]="'menu ' + classMenu" (click)="openDropdown()"></i>

  <div [class]="'navbar-dropdown ' + classNavbar">

    <span class="title">Opções</span>

    <ul class="list-itens">
      <li class="item" (click)="routes('')">
        <fa-icon class="item-icon" [icon]="faHome"></fa-icon>
        Início
      </li>
      <li class="item" (click)="routes('presentes')">
        <fa-icon class="item-icon" [icon]="faGifts"></fa-icon>
        Presentes
      </li>
      <li class="item padrinho">
        <fa-icon class="item-icon icon-padrinho" [icon]="faUserTie"></fa-icon>
        Padrinhos
      </li>
      <li class="item" (click)="routes('admin')" *ngIf="isAdmin">
        <fa-icon class="item-icon" [icon]="faUserSecret"></fa-icon>
        Admin
      </li>
      <li class="item sair" (click)="exitAcount()">
        <fa-icon class="item-icon sair" [icon]="faSignOutAlt"></fa-icon>
        Sair
      </li>
    </ul>
  </div>

</nav>
