.container-pattern {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100dvh;
    background-color: #000000;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.html-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100dvh;
    overflow-x: hidden;
    background-image: url("/assets/bg-sky.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

    main {
    flex-grow: 1;
    overflow-x: hidden;
    width: 100%;
}

.html-container::-webkit-scrollbar,
.container-pattern::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
}

.video-intro {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100dvh;
}

.video-intro video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

@keyframes startOpaticy {
    0%    { opacity: 0 }
    100%  { opacity: 1 }
}

@media (min-width: 500px) {

    .html-container{
        width: 500px;
    }

}
