<div class="container-pattern">
  <div class="html-container">
    <header>
      <app-header></app-header>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <popup
    *ngIf="showPopupConfirmPresence"
    id="popup-confirm-presenca"
    (close)="showPopupConfirmPresence = false"
    title="Seja Muito Bem vindo"
    width="90%"
    [scroll]="false"
    [textBtnClose]="'Agora não'"
  >
    <div class="body">
      <p>
        Estamos muito felizes por ter você aqui!<br> <b>{{nameUser}}</b><br>
        Seria uma honra ter sua presença em nosso grande dia especial.
      </p><br>
      <p>
        Caso você já tenha certeza de que poderá ir, clica em <b style="color: #569e2d;">Confirmar Presença</b>.
      </p>
      <p>
        Porém se ainda não tem certeza, não tem problemas, depois é só clicar em<i class="fas fa-bars"></i>
        no canto superior direito e depois clicar em <b style="color: #9e782d;">Confirmar Minha Presença</b>.
      </p>
      <p>
        Só lembrando que é de extrema importância a confirmação de presença,
        pois na festa só poderá entrar as pessoas que confirmou a presença. Então por favor não esqueça, queremos te ver lá!
      </p>
    </div>

    <button-popup text="Confirmar Presença" type="success" (onClick)="confirmar()"></button-popup>
  </popup>
</div>
