<section class="home">

  <div class="dropdown">

    <ul class="dropdown-lista">
      <li><fa-icon [icon]="faBell" class="navbar-li"></fa-icon></li>
      <li><fa-icon [icon]="faGift" class="navbar-li"></fa-icon></li>
    </ul>

  </div>

  <section class="body-notificacao" *ngIf="showNotificacao">

    <div *ngFor="let item of dsNotificacoes" class="notificacao-container" id="notificacao-{{item.id}}">
      <div *ngIf="item.visto == 0" class="notificacao">

        <div class="notificacao-header">
          <p>ID: {{item.id}} - {{item.title}}</p>
          <div class="notificacao-icon" id="notificacao-icon-{{item.id}}" (click)="openNotificacao(item)">Fechar</div>
        </div>

        <div class="notificacao-body open" id="notificacao-body-{{item.id}}">
          <div class="conteudo" id="conteudo-{{item.id}}">
            <h2>{{item.user_name}}</h2>
            <p [innerHTML]="item.body"></p>
          </div>
        </div>

        <div class="notificacao-footer">
          <p class="time" [innerHTML]="tranformDate(item.created_at)"></p>
          <fa-icon [icon]="faCheck" (click)="confirmNotificacao(item)"></fa-icon>
        </div>

      </div>
    </div>
    <div class="empty-notificacoes" *ngIf="emptyNotificacoes">Nenhuma Notificação</div>

  </section>

  <section class="body-presentes" *ngIf="showPresentes">
    <div class="box-gift">
      <div class="card-container" *ngFor="let item of dsPresentes">
        <div [class]="'card-gift '  + item.level + '-border'" >
          <div [class]="'banner ' + item.level">
            <div class="reflexo"></div>
            <div class="level-title">{{lookup(item.level)}}</div>
          </div>
          <div class="img-gift" [style]="'height:' + this.getSizeAreaElement('.card-gift', 'width')">
            <img [src]="item.path">
          </div>
          <div class="info-gift">
            <p class="title-info-gift">{{item.nome}}</p>
            <div class="values-info-gift">
              <p class="price-info-gift">Selecinado por:</p>
              <p class="price-info-gift">{{item.name_selected}}</p>
            </div>
          </div>
          <button class="btn-value-gift" (click)="openPopup(item)">Desvincular</button>
        </div>
      </div>
    </div>
    <popup
      *ngIf="showPopup"
      (close)="showPopup = false"
      title="Desvincular Item"
      width="90%" [scroll]="false"
    >
      <div class="popup-confirmar">
        <p style="margin-top: 5px;">
          Ao clicar em <b style="color: #cf4d4d;">Desvincular</b> a pessoa responsável por este presente deixará de ser!
        </p>
      </div>

      <button-popup
        text="Desvincular"
        type="danger"
        (onClick)="submitConfirmar()"
      ></button-popup>

    </popup>

    <div class="empty-notificacoes" *ngIf="emptyPresentes">Nenhum Presente</div>
  </section>


</section>
