<loading [visible]="showLoadPanel" [position]="loadingPosition"></loading>
<section class="home">

  <section class="intro">
    <h2>Lista de Presentes</h2>
    <p>
      Aqui se encontra uma lista de presente em que os mesmos serão utilizados para facilitar o começo de uma nova vida
    </p>
    <p>
      Sabemos que presentear os noivos é uma prática comum e cultural. Então se quiser ajudar nós nesse início,
      você terá nossa gratidão eterna <span style="color:red" >&#10084;</span>
    </p>
  </section>

  <section class="toolbar-container">
    <mat-toolbar class="mat-toolbar">
      <span>
        <button mat-flat-button color="primary" (click)="openPopupAdicionar()" [disabled]="showLoadPanel">Adicionar</button>
      </span>
    </mat-toolbar>
  </section>

  <section id="gifts">


    <app-gift
      [dataSource]="dsPresentes"
      (btnClick)="openPopup($event)"
    ></app-gift>

  </section>

</section>
<popup
  *ngIf="showPopup"
  (close)="showPopup = false;"
  title="Presente Selecionado"
>
  <div class="popup-item">

    <h3>Ah que Alegria! Então você deseja nos presentear este item?</h3>

    <div class="popup-item-body">

      <div class="popup-item-img">
        <img [src]="item.path">
      </div>

      <h1 class="popup-item-body-nome">{{ item.nome }}</h1>
      <div class="popup-item-body-price">Valor Médio: <b>R$ {{item.valor}}</b></div>
      <div class="popup-item-body-link">Site Referência: <a [href]="item.img_url" target="_blank">clique aqui</a></div>

    </div>

    <div class="popup-item-body">
      <p>
        Lembrando que ao decidir nos presentear com este item, seja com o valor ou com o próprio item,
        você terá em troca a nossa gratidão eterna!😂💖
      </p>
    </div>

  </div>

  <button-popup
    text="Presentear:"
  ></button-popup>

  <button-popup
    text="Item"
    width="80px"
    type="default"
    (onClick)="openPopupConfirmacao()"
  ></button-popup>

  <button-popup
    text="Valor"
    width="80px"
    type="default"
    onClick=""
  ></button-popup>
</popup>

<popup
  *ngIf="showPopupConfirmar"
  (close)="showPopupConfirmar = false"
  title="Confirmar Presente - Item"
  textBtnClose="Escolher Outro"
>
  <div class="popup-confirmar-item">

    <h1 style="color: rgb(24, 24, 24); margin-bottom: 15px;font-size: 1em;padding: 0;">Resumo:</h1>
    <h1 class="popup-item-body-nome">{{ item.nome }}</h1>
    <div class="popup-item-body-price">Valor Médio: <b>R$ {{item.valor}}</b></div>
    <div class="popup-item-body-link">Site Referência: <a [href]="item.img_url" target="_blank">clique aqui</a></div>
    <div class="popup-item-body-price">Presentendo com: <b>Item</b></div>
    <div class="line"></div>
    <p style="margin-top: 15px;">
      Fique a vontade para comprar onde quiser! Só clicar em <b style="color: #51b934;">Darei Este Presente</b>,
      e saberemos que podemos contar com você!💖
    </p>

  </div>

  <button-popup
    text="Darei Este Presente"
    type="success"
    (onClick)="submitConfirmar()"
  ></button-popup>

</popup>

<popup
  *ngIf="showPopupAdicionar"
  (close)="showPopupAdicionar = false"
  title="Adicionar Presente"
  textBtnClose="Cancelar"
>

  <form class="form-container">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Nome do Presente</mat-label>
      <input matInput [(ngModel)]="formAdicionar.nome_presente" name="nomePresente">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 50%;">
      <mat-label>Valor Mínimo</mat-label>
      <input matInput [(ngModel)]="formAdicionar.vlr_minimo" #vlr_minimo name="vlr_minimo">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 50%;">
      <mat-label>Valor Máximo</mat-label>
      <input matInput [(ngModel)]="formAdicionar.vlr_maximo" #vlr_maximo name="vlr_maximo">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Link Referência</mat-label>
      <input matInput [(ngModel)]="formAdicionar.link" name="link">
    </mat-form-field>

    <div class="input-file-group">
      <label for="file">{{imgUrl ? 'Selecionar outra imagem' : 'Escolher imagem'}}</label>
      <input
        id="file"
        name="file"
        type="file"
        (change)="onFileSelected($event)"
      >
      <div class="img-file">
        <img *ngIf="imgUrl" [src]="imgUrl">
      </div>
    </div>
  </form>

  <button-popup
    text="Adicionar"
    type="success"
    (onClick)="submitAdicionar()"
  ></button-popup>

</popup>
