.home {
  background: #ffffffb4;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding-top: 30px;
  width: 100%;
  height: 100%;
}

.title {
  margin-top: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 20px;
}

.intro p {
  font-size: 16px;
}

#gifts {
  flex-grow: 1;
  width: 100%;
}

/* TOOLBAR */
.toolbar-container {
  width: 100%;
}

.mat-toolbar {
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  height: 78px;
}

.mat-toolbar span mat-form-field {
  width: 100%;
}

.toolbar-select-box {
  flex-grow: 1;
}

.toolbar-adicionar {
  width: 104px;
  margin-bottom: 22px;
  display: flex;
  justify-content: end;

}

.list-tags {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.list-tags .group-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.list-tags .group-p {
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin: 0 20px 0 0;
    border: 1px solid #c1c1c1;
    border-radius: 5px;
    width: 80%;
}

.list-tags .group-p  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.list-tags .group-p  p:last-child {
    justify-content: start;
    padding: 0 0px 0 10PX;
    white-space: nowrap;
}

.list-tags .group-p  p:first-child {
    font-weight: bold;
    background-color: #e7e7e7;
}
