<section class="container-form">
  <div class="title">
    <img src="/assets/Logo-Swelen&Edson.png">
  </div>

  <div class="box">
    <form class="form">
      <div class="fields">
        <div class="group-input">
          <label for="telefone">Telefone:</label>
          <input
            id="telefone"
            name="telefone"
            [(ngModel)]="form.telefone"
            placeholder="Digite seu telefone..."
            autocomplete="off"
          >
        </div>
      </div>

      <div class="button">
        <button (click)="submit()">
          Entrar
        </button>
      </div>

    </form>
  </div>
</section>

