.container-form {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/assets/bg-tree.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
}

.title {
  position: absolute;
  top: 2%;
  animation: balanceTitle 1.5s linear infinite alternate
}

.title img{
  width: 180px;
}

@keyframes balanceTitle {
  0%    { top: 2% }
  30%   { top: 2.3% }
  70%   { top: 3.7% }
  100%  { top: 4% }
}

.box {
  background: linear-gradient(135deg, #f6d893, #cfb068, #9f7e33);
  border: 1px solid #f6d893;
  box-shadow: 0px 0px 10px #544523;
  border-radius: 10px;
  padding: 15px 15px;
  width: 90vw;
}

.group-input {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.group-input label{
  font-size: 16px;
  color: #000000ec;
  display: block;
}

.group-input input {
  outline: 0;
  border: 0;
  border-bottom: 1px solid #001029b3;
  color: #000;
  background-color: transparent;
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 0px 5px;
  transition: 0.5s;
}

.group-input input:focus {
  border-bottom: 1px solid #77570d;
  box-shadow: 0 0px 3px -3px #77570d;
  width: 100%;
}

.group-input input::placeholder {
  color: #17171788;
  font-size: 15px;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button button {
  width: 50%;
  outline: 0;
  border: 0;
  border-radius: 5px;
  height: 40px;
  background-color: #77570d;
  color: #FFF;
  font-size: 20px;
  transition: 0.2s;
}

.button button:active {
  background-color: #a07e2f;
}

@media (min-width: 576px) {
  .container-form {
    background-position: center;
    background-size:100%;
  }

  .box {
    width: 400px;
  }

  .title img{
    width: 200px;
  }

  @media (max-height: 800px) {
    .title img{
      width: 110px;
    }
  }
}
