<div class="bloqueador"></div>
<section class="popup" [style]="'width: ' + widthReal ">
    <div class="popup-container">

        <h3 class="popup-title">{{ title }}</h3>

        <div class="popup-body">
            <ng-content></ng-content>
        </div>

        <div class="popup-footer">
            <button
                *ngFor="let button of buttons"
                [class]=" 'popup-btn '+ button.type "
                [style]=" 'width:' + button.width "
                (click)="button.onClick.emit()"
            > {{ button.text }} </button>

            <button
                *ngIf="btnFecharVisible"
                class="popup-btn fechar"
                (click)="fechar()"
            > {{textBtnClose}} </button>
        </div>

    </div>
</section>
