
.video-intro {
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    background-color: #000000;
    width: 100%;
    max-width: 500px;
    height: 100dvh;
}

.video-intro img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}
