.container-loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  z-index: 9999;
  background-color: #0000003c;
}

.container-loading.close {
  display: none;
}

.box-loading {
  gap: 5px;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  box-shadow: 0 3px 10px #272727;
  border-radius: 10px;
}

h2 {
  margin-bottom: 0;
}

.title-loading {
  color: #272727;
  font-size: 16px;

}

.fa-spinner {
  color: #272727;
  font-size: 20px;
}
