
.home {
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0 10px;
    position: relative;
    animation: hidden 3s forwards 1s;
}

.banner {
    position: relative;
    z-index: 0;
    width: calc(100% + 20px);
}

.banner::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent,#ffffffc0, #ffffff);
    height: 15%;
}

.banner-photo{
    position: absolute;
    z-index: -1;
    left: 48.8%;
    transform: translateX(-50%);
    top: 5.4%;
    width: 66%;
}

.banner-pattern {
    width: 100%;
}

.hexagono-patter {
    position: absolute;
    left: 48.8%;
    top: 8.0%;
    width: 100%;
    transform: translateX(-50%);
}

.banner-hexagono {
    width: 75%;
    animation: rotation linear infinite 15s;
}

.banner-hexagono-2{
    width: 75%;
    animation: rotation2 linear infinite 12s;
}

h2:first-child {
    margin-top: 30px;
    margin-bottom: 0;
}

h2 {
  text-align: center;
}

section {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}

.noivos {
  padding: 20px 10px;
  margin: 0;
  background-color: #e8e1d0;
  width: calc(100% + 20px);
}

.title-noivos {
    font-size: 35px;
}

.flip-card {
  width: 100%;
  margin: 25px 0;
  perspective: 1000px;
}


.flip-card-inner-noiva,
.flip-card-inner-noivo {
  position: relative;
  width: 100%;
  transition: 1.3s;
  transform-style: preserve-3d;
}

.flip-card-inner-noiva.rotate-active,
.flip-card-inner-noivo.rotate-active {
  transform: rotateY(180deg);
}

.card,
.card-back-noivo,
.card-back-noiva {
  position: absolute;
  box-shadow: 0px 0px 15px #00000079;
  background-color: #FFF;
  padding: 10px 10px 30px 10px;
  border-radius: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bottom-card {
  min-height: 80px;
}

#name-card-edson,
#name-card-swelen {
  font-size: 20px;
  letter-spacing: 2px;
  text-decoration: none;
}

.bottom-card p:last-child:hover { cursor: pointer; }

.bottom-card p {
  font-size: 15px;
  margin: 8px 0 0 0;
  text-decoration: underline;
}


.card-back-noivo,
.card-back-noiva {
  transform: rotateY(180deg);
}

.card-back-noivo p,
.card-back-noiva p {
  text-indent: 20px;
  font-size: 16px;
  color: #000000;
  text-align: justify;
}


.faRetweet {
  color: #4a4a4a;
  position: absolute;
  bottom: 5px;
  left: 15px;
  font-size: 25px;
}

.faRetweet:hover { cursor: pointer; }

#assinado-noiva,
#assinado-noivo {
  position: absolute;
  bottom: 5px;
  right: 15px;
  font-size: 15px ;
}

#assinado-noiva {
  color: #dd48e2;
}

#assinado-noivo {
  color: #3f3fbc;
}


.card-back-noivo p.write:after,
.card-back-noiva p.write:after{
  content: '';
   display: inline-block;
   position: relative;
   bottom: -2px;
   background-color: rgb(0, 0, 0);
   margin-left: 2px;
   height: 19px;
   width: 1px;
   animation: cursor 1.5s infinite;
 }

.card-back-noivo p.static:after,
.card-back-noiva p.static:after{
    content: '';
    display: inline-block;
    position: relative;
    bottom: -2px;
    background-color: rgb(0, 0, 0);
    margin-left: 2px;
    height: 17px;
    width: 1px;
}

.countdown {
    background-color: #e8e1d0;
    border-radius: 3px;
    box-shadow: 0 0 5px #63615db9;
    margin: 40px 0;
    /* width: calc(100% + 20px); */
    padding: 0 10px 20px 10px;
}

.countdown h2:first-child {
    margin-top: 20px;
}

.countdown-mom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.countdown-son {
    flex: 1;
    margin-top: 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
}

#day, #hour, #sec, #min {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #ffffffb1;
  border: 1px solid #84848442;
  width: 100%;
  height: 60px;
  font-size: 40px;
  color: #232323;
  margin: 0;
  transition: 0.3s;
}

.countdown-son span {
  font-size: 14px;
  color: #111;
  text-align: center;
  padding: 3px 0;
}


@keyframes cursor {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}

@keyframes rotation {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
}

@keyframes rotation2 {
    from { transform: rotate(0deg) }
    to { transform: rotate(-360deg) }
}

 @keyframes hidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
