<div class="screen-into"></div>
<section id="screen" class="screen">
    <main>
        <h1 class="title">Seja Bem Vindo ao Seu Cantinho</h1>
        <h2 class="title nome-padrinho">- {{user.name}} -</h2>
        <section class="apresentation">
            <div class="imagem-container">
                <div class="imagem-padrinho">
                    <img src="../../../assets/convite-casamento.png" alt="Convite">
                </div>
            </div>
            <section class="manual">
                <div class="title-container">
                    <img src="../../../assets/suport/fita-title-1.png" alt="Padrinhos Convocados">
                    <h2>Padrinhos Convocados</h2>
                </div>
                <table style="margin-top: 10px;" mat-table [dataSource]="dsPadrinhos" class="mat-elevation-z7">
                    <ng-container matColumnDef="name">
                        <!-- <th mat-header-cell *matHeaderCellDef> name </th> -->
                        <td mat-cell *matCellDef="let element" style="font-weight: bold;"> {{element.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="imagem">
                        <!-- <th mat-header-cell *matHeaderCellDef> Imagem </th> -->
                        <td mat-cell *matCellDef="let element" style="width: 50px; padding: 5px 0 5px 10px;">
                            <div style="
                                    width: 50px;
                                    max-height: 50px;
                                    overflow: hidden;
                                    border-radius: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                ">
                                <img [src]="element.imagem ?? '../../../assets/suport/circulos-de-utilizadores-definidos.png'"
                                    alt="Imagem de {{element.nome}}" style="
                                        width: 100%;
                                    ">
                            </div>
                        </td>
                    </ng-container>
                    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr> -->
                    <tr mat-row *matRowDef="let row; columns: ['imagem', 'name'];"></tr>
                </table>

                <h1 class="title">Manual do Padrinho</h1>
                <section id="manual-padrinhos" class="manual-padrinhos">
                    <p>
                        Para o traje dos padrinhos escolhemos o terno de cor
                        <b style="color: #1d1d1d; text-shadow: 0 0 1px #313131;">CINZA ESCURO</b>
                        e a gravata no <b style="color: #a6a6a6; text-shadow: 0 0 1px #a6a6a6;">CINZA CLARO</b>.
                    </p>
                    <img class="photo-2" src="../../../assets/photos-padrinhos/icon-terno.png">

                    <div id="inspiracoes" class="inspiracoes">
                        <h2 class="inspiracoes-title">Algumas Inspirações</h2>
                        <ngb-carousel
                            #carousel
                            [interval]="3000"
                            [pauseOnHover]="true"
                            [pauseOnFocus]="true"
                            [showNavigationArrows]="true"
                            [showNavigationIndicators]="true"
                        >
                            <ng-template ngbSlide *ngFor="let img of pathImgCarrousel; index as i">
                                <div class="picsum-img-wrapper">
                                    <img [src]="img" style="width: 100%">
                                </div>
                            </ng-template>
                        </ngb-carousel>
                    </div>

                </section>
            </section>
        </section>
    </main>
</section>
