.box-gift {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 0 10px;
  box-sizing: border-box;
}

.card-container {
  position: relative;
  flex: 0 0 calc(50% - 5px);
  margin-bottom: 30px;
}

.banner-cota {
    position: absolute;
    opacity: 0.9;
    left: 0;
    top: 0;
    z-index: 1;
    width: 25%;
}

.card-gift {
  position: relative;
  padding: 10px;
  background-color: #FFF;
}

.banner {
  position: absolute;
  opacity: 0.97;
  z-index: 1;
  padding: 2px 10px;
  width: 50%;
  left: 50%;
  top: -1px;
  transform: translateX(-50%);
  border-radius: 0px 0px 7px 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #FFF;
  text-shadow: 0px 0px 1px #FFF;
  overflow: hidden;
}

#btn-excluir {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  font-size: 22px;
  color: #c82626;
  right: -1px;
  padding: 4px 8px;
}

.img-gift {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.img-gift::before {
  content: '';
  padding-top: 100%;
  display: block;
}

.img-gift img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

.info-gift {
    position: relative;
}

.info-gift .title {
  text-align: center;
  line-height: 15px;
  height: 30px;
  font-size: 13px;
  margin: 5px 0 0 0;
  overflow: hidden;
}

.cota {
    position: absolute;
    width: calc(100% + 20px);
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    overflow: hidden;
    background-color: #2f2f2f;
    font-size: 13px;
    height: 25px;
}

.info-gift.price {
    text-align: center;
    height: 40px;
    color: rgb(73, 138, 63);
    font-size: 16px;
    margin: 0;
}

.info-gift.price-cota {
    position: absolute;
    text-align: center;
    bottom: 1px;
    min-width: 140px;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(102, 195, 88);
    background-color: #2f2f2f;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
}

.btn-value-gift {
  width: 90%;
  margin: 0 5%;
  height: 30px;
  outline: 0;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  background-color: #4265e4;
  box-shadow: none;
  font-size: 16px;
}

.selecionado {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(circle, rgba(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-selecionado {
  position: relative;
  color: #FFF;
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.escolhido {
  opacity: 0.4;
}
