<div class="box-gift">

  <div class="card-container" *ngFor="let item of dataSource">
    <div
      [class]="'card-gift'"
      [style]="borderGift(item.level)"
    >

      <div [class]="'banner ' + item.level">
        <div class="reflexo"></div>
        <div style="z-index: 1">{{ lookup(item.level) }}</div>
      </div>

      <div
        class="img-gift"
        [style]="'height:' + this.getSizeAreaElement('.card-gift', 'width')"
      >
        <img [src]="item.path">
      </div>

      <div class="info-gift">
        <div class="info-gift title">{{ item.nome }}</div>
        <div class="info-gift price">Valor médio: R$ {{ item.valor }}</div>
      </div>

      <button [class]="'btn-value-gift'" (click)="btnClick.emit(item)">Conferir</button>

      <div
        *ngIf="!item.flg_disponivel"
        class="selecionado"
        [style]="'height:calc(' + this.getSizeAreaElement('.card-gift', 'height') + ' + 10px)'"
      ><div class="text-selecionado">SELECIONADO</div>
      </div>

    </div>
  </div>

</div>
