<div class="box-gift">

  <div  class="card-container" *ngFor="let item of dataSource">
    <div
      [class]="'card-gift'"
      [style]="borderGift(item.level)"
    >

      <div [class]="'banner'" [style]="bannerStyle(item.level)">
        <div>{{ lookup(item.level) }}</div>
      </div>

      <span (click)="onExlcuir.emit(item)"><i *ngIf="isAdmin" id="btn-excluir" class="fas fa-close"></i></span>

      <div
        class="img-gift"
      >
        <img [src]="item.path">
      </div>

      <div class="info-gift">
        <div class="info-gift title">{{ item.nome }}</div>
        <div class="info-gift price">R${{ item.valor }}</div>
      </div>

      <button *ngIf="item.flg_disponivel" [class]="'btn-value-gift'" (click)="btnClick.emit(item)">CONFERIR</button>
      <button *ngIf="!item.flg_disponivel" [class]="'btn-empty-gift'"></button>

      <div
        *ngIf="!item.flg_disponivel"
        class="selecionado"
      >
        <div class="text-selecionado" [style]="bannerStyle(item.level)">SELECIONADO</div>
      </div>

    </div>
  </div>

</div>
