<div class="box-gift">

    <div class="card-container" *ngFor="let item of dataSource">
        <div [class]="'card-gift'" [style]="borderGift(item.level)">

            <div class="priority">
                {{item.prioridade + '°'}}
            </div>

            <div [class]="'banner'" [style]="bannerStyle(item.level)">
                <div>{{ lookup(item.level) }}</div>
            </div>

            <div class="buttons">
                <span (click)="onExlcuir.emit(item)" title="Excluir Presente"><i *ngIf="isAdmin" id="btn-excluir" class="fas fa-close"></i></span>
                <span (click)="onAddPayment.emit(item)" title="Adicionar Pagamento Manual"><i *ngIf="isAdmin" id="btn-add-payment" class="fas fa-file-invoice-dollar"></i></span>
            </div>


            <div class="img-gift">
                <img [src]="item.path_img">
            </div>

            <div class="info-gift">
                <div class="title">{{ item.nome }}</div>
                <div *ngIf="item.cotas > 1" class="cota">Restam {{item.cotas_disponiveis}} Cota's</div>
                <div class="info-gift price" [style]="!item.cotas ? 'padding-top: 10px' : '' ">
                    {{item.flg_disponivel ? 'R$ ' + item.valor : null}}
                </div>
                <div *ngIf="item.flg_disponivel && item.cotas > 1" class="info-gift price-cota">
                    COTA: R$ {{item.vlr_cota}}
                </div>
            </div>

            <div *ngIf="!item.flg_disponivel" class="selecionado">
                <div class="text-selecionado" [style]="bannerStyle(item.level)">SELECIONADO</div>
            </div>

            <button *ngIf="!item.selected_by_user_id" [class]="'btn-value-gift'" (click)="btnClick.emit({item: item, cancelar: false})">
                Ver Presente
            </button>
            <button
                *ngIf="showBtnCancelar(item)"
                [class]="'btn-value-gift cancelar'"
                (click)="btnClick.emit({item: item, cancelar: true})"
            >Cancelar</button>
            <button
                *ngIf="!showBtnCancelar(item) && !item.flg_disponivel"
                [class]="'btn-value-gift empty'"
            ></button>

        </div>
    </div>

</div>
