@import '@fortawesome/fontawesome-free/css/all.min.css';

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p, h1, h2, h3 {
  font-family: 'Noto Serif', serif;
}

h1 {
  padding-top: 15px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 8vw;
  font-weight: bold;
}

p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.notify {
  position: absolute;
  bottom: 30px;
  width: 90%;
  height: auto;
  padding: 12px 10px;
  background-color: #FFF;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  font-family: 'Noto Serif', serif;
  text-align: center;
  z-index: 1;
}

@keyframes opacityEnd {
  from  { opacity: 1 }
  to    { opacity: 0 }
}

.notify-error {
  background-color: #fa9898 !important;
}

.notify-success {
  background-color: #9afa98 !important;
}

.notify-warning {
  background-color: #faee98 !important;
}

@media (min-width: 500px) {
  .notify {
    width: 400px;
  }
}
