.container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9999;
  background-color: transparent;
  backdrop-filter: blur(2px);
}

.box {
  gap: 5px;
  padding: 10px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #e5c580;
  box-shadow: 0 0 10px #000000;
  border-radius: 10px;
}

.title {
  color: #272727;
  font-size: 16px;

}

.fa-spinner {
  color: #272727;
  font-size: 20px;
}
